<h1>Do you really need to use an observer?</h1>
<p class="lead">Observers make things less explicit, and are generally less performant. Read my <a href="https://medium.com/the-ember-way/ember-js-functional-programming-and-the-observer-effect-48901c3b84d7#.6bxksrers">post</a> for more information.</p>

<div class="row">
  <div class="col-md-6">
    <h2>Bad</h2>
    <p>This uses an observer.</p>

    {{observers/bad-example}}
  </div>

  <div class="col-md-6">
    <h2>Good</h2>
    <p>We can do the same without observers.</p>

    {{observers/good-example-one description="Using a CP"}}
    {{observers/good-example-two today=today description="Using didReceiveAttrs"}}
  </div>
</div>