<div class="hero">
  <div class="container">
    <h1>Ember.js Component Best Practices</h1>
    <p class="lead">by Lauren Tan</p>
    <div>
      <a href="https://twitter.com/sugarpirate_" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @sugarpirate_</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <div>
      <iframe src="https://ghbtns.com/github-btn.html?user=poteto&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
    </div>
    <a href="https://github.com/poteto/component-best-practices"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
  </div>
</div>

<div class="container">
  <div class="row">
    {{#if (not-eq currentRouteName "index")}}
      <div class="menu">
        {{#link-to "index" tagName="button" class="btn btn-primary btn-lg"}}
          <span>😨 Back</span>
        {{/link-to}}
        {{view-source currentRouteName=currentRouteName}}
      </div>
    {{/if}}
  </div>
  <div class="row">
    {{liquid-outlet}}
  </div>
</div>