{{#if (not-eq currentRouteName "index")}}
  <div class="back-to-index">
    {{#link-to "index" tagName="button" class="btn btn-primary btn-lg"}}
      <span>😨 Back</span>
    {{/link-to}}
  </div>
{{/if}}

{{outlet}}