{{#each posts as |post|}}
  <li>
    <div class="media block">
      {{#if (not-eq post.thumbnail "self")}}
        <div class="media-left">
          <img src={{post.thumbnail}} alt={{post.title}} class="media-object">
        </div>
      {{/if}}
      <div class="media-body">
        <h4 class="media-heading">
          <a href="#" {{action selectPost post}}>{{post.title}}</a>
        </h4>
      </div>
    </div>
  </li>
{{/each}}
