<div class="form-group">
  {{one-way-input
      class="form-control"
      placeholder="Name"
      value=thing.name
      update=(action (mut thing.name))
  }}
</div>

<div class="form-group">
  {{one-way-input
      class="form-control"
      type="number"
      step="1"
      placeholder="Price"
      value=thing.price
      update=(action (mut thing.price))
  }}
</div>

<button class="btn" {{action (action this.attrs.save)}}>Update</button>
