<div class="row">
  <div class="col-md-12">
    <form {{action "findSubreddit" on="submit"}} class="form">
      <div class="form-group">
        {{input class="form-control" value=subredditName placeholder="Find posts from a subreddit..."}}
      </div>

      <button class="btn" {{action "findSubreddit"}}>Find Controversial Posts</button>
    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    {{closures/bad-example/top-posts posts=posts selectPost="selectPost"}}
  </div>
</div>