<h1>Follow the Data Down, Actions Up philosophy</h1>
<p class="lead">When architecting components, always find out who owns the data.</p>

<div class="row">
  <div class="col-md-6">
    <h2>Bad</h2>
    <p>Only objects that "own" the data should be allowed to mutate it. In most cases, this will either be the controller or route.</p>

    {{ddau/bad-example thing=thing}}
    {{ddau/bad-example thing=thing}}
  </div>

  <div class="col-md-6">
    <h2>Good</h2>
    <p>Instead of mutating models in components, have them send actions up instead.</p>

    {{ddau/good-example
        class="block"
        thing=thing
        save=(action "save" thing)
    }}
    {{ddau/good-example
        class="block"
        thing=thing
        save=(action "save" thing)
    }}
  </div>
</div>